:host {
  display: block;
}

svg {
	float : left;
	height: auto;
}

b {
  font-family: "RobotoDraft,sans-serif";
  color: #f44336;
}

circle {
	stroke : #f44336;
	fill : transparent;
}

text {
	fill: #f44336;
	text-anchor: middle;
  	font-family: "RobotoDraft,sans-serif";
}